/*Container*/
    .Container {
        padding: 4rem 0px;    
    }
    .Container article{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .SessaoPrincipal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .ImgPrincipal {
        object-fit: cover;
        border-radius: 40px;
        width: 23rem;
    }
    .Container h1 {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: normal;
    }
    .Arrow {
        width: 25px;
        position: relative;
        animation: mymove .9s infinite;
    }
    @keyframes mymove {
        from {top: 2px;}
        to {top: 16px;}
      }
/*Container*/
/*Linha do tempo*/
.containerSegundo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0px;
}
.main-container{
    position: relative;
    width: 500px;
}
/*creating line for timeline*/
.main-container::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: rgb(96, 93, 93);
    top:0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/*Adjusting box of all content*/
.text-wrapper{
    padding: 10px 40px;
    position: relative;
    width:51%;
    box-sizing: border-box;
    margin: 50px 0;
}
.text-wrapper::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    right: -10px;
    background-color:#000000;
    top:15px;
    border-radius: 50%;
    z-index: 1;
}
/*for left events*/
.left{
    left: 0;
}
/*for right events*/
.right{
    left:50%;
}
.right::after{
    left:-10px;
}
/*content box colour padding and radius for circular corner*/
.content{
    padding: 15px 15px 15px 17px;
    background-color: #000000;
    border-radius: 4px;
}
/*setting text property of event heading*/
.content h3{
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    letter-spacing:1px;
}
/*setting text property of event content*/
.content a{
    color: #f4f4f4e7;
    font-weight: 300;
    font-size: 18px;
    margin-top: 2px;
    transition: all .5ms;
}
.content a:hover{
    color: #ffffff;
}
/*Linha do tempo*/
/*Curriculo*/
.containercurriculo {
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0px;
}
.curriculo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.TextoCurriculo legend {
    color: #ffffff;
    font-size: 1.1rem;
}
.btncurriculo a {
    background: #ffffff;
    padding: .3rem 1rem;
    color: #000000;
    font-weight: 700;
    border-radius: 5px 0px 5px 0px;
}
.btncurriculo a:hover {
    box-shadow: 0px 5px 15px 0px #fff;
}
/*Curriculo*/
/*Projetos*/
.containerProjetos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  .Projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 3rem 0px;
    gap: 1.5rem;
  }
  .ImgProjetos {
    width: 30rem;
    border-radius: 10px;
  }
  .TextoApresentassaoProjeto p {
    font-size: .9rem;
    font-weight: 700;
  }
  .projetosbtn a{
    background: linear-gradient(45deg, #CB6CE6, #FC6AED);
    padding: .5rem 1rem;
    border-radius: 5px 0px 5px 0px;
    color: #000000;
    font-size: .8rem;
    font-weight: 800;
  }
  .projetosbtn a:hover {
    box-shadow: 0px 5px 15px 0px #000000;
  }
/*Projetos*/
.ContainerContato {
    padding: 5rem 0px;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.contatoinfo {
    color: #000000;
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    border-radius: 8px 8px 8px 8px;
}
.sessaoinfo {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: baseline;
}
.form-contato {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.form-contato h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-contato label {
    margin-bottom: 5px;
    color: #555;
}

.form-contato input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-contato button {
    padding: 10px;
    border: none;
    border-radius: 5px 0px 5px 0px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-contato button:hover {
    box-shadow: 0px 5px 15px 0px #000000;
}
.classemail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.classemail a {
    color: #000000;
}
.bx {
    font-size: 1.5rem;
}